<div class="call">
  <div class="call-box-top">
    {{ if .site.Params.physicalAddress }}
    <div class="call-phone"><strong>Street address: </strong>&nbsp {{ .site.Params.physicalAddress }} </div>
    {{ end }}
    {{ if .site.Params.town }}
    <div class="call-phone"><strong>Town: </strong>&nbsp{{ .site.Params.town }}</div>
    {{ end }}
    {{ if .site.Params.province }}
    <div class="call-phone"><strong>Province: </strong>&nbsp{{ .site.Params.province }}</div>
    {{ end }}
  </div>
</div>